.listItem {
  width: 320px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(219, 14, 14);
  border-radius: 5px;
  background-color: rgb(251, 251, 252);
}

.contactInfo {
}

.contactName {
  font-size: 18px;
  font-weight: bold;
}
.contactNum {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  transition: color 2s cubic-bezier(0.31, 0.7, 0.83, 0.67);
}

.contactNum:hover {
  color: rgb(219, 14, 14);
}

.icon {
  transition: transform 2s cubic-bezier(0.31, 0.7, 0.83, 0.67);
}

.contactNum:hover .icon {
  animation: swing 2s cubic-bezier(0.31, 0.7, 0.83, 0.67);
}

@keyframes swing {
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.input {
  border: none;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.wrapBtn {
  display: flex;
  flex-direction: column;
}
.wrapBtn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnSave {
  color: rgb(5, 5, 250);
}
.btnUpdate {
  color: rgb(16, 226, 16);
}
.btnDelete {
  color: red;
}

.btnSave:hover {
  color: rgb(13, 13, 185);
}
.btnUpdate:hover {
  color: green;
}
.btnDelete:hover {
  color: rgb(180, 40, 40);
}
